@media screen and (min-width: 1165px) {
    body {
        font-family: "Red Hat Display", sans-serif;
        background-color: #FFFDFD;
        overflow: hidden;
    }

    a {
        text-decoration: none;
    }

    #logo-jaramba {
        height: 80px;
        margin: auto auto auto 16px;
    }

    #settings-logo {
        height: 40px;
        margin: 24px 20px auto auto;
        float: right;
    }

    #logout-logo {
        height: 40px;
        margin: 24px 24px auto auto;
        float: right;
    }

    #real-body {
        margin-top: -10px;
        display: flex;
        gap: 12px;
        justify-content: space-evenly;
    }

    #left-body {
        width: 250px;
    }

    #contents_of_page {
        margin-top: -10px;
        width: 900px;
    }

    #profile {
        width: 25%;
    }

    #profile-picture {
        height: 148px;
        margin: 24px auto -8px 64px;
    }

    .profile-info {
        margin: auto auto 32px 86px;
    }


    #nav {
        color: black;
        width: 25%;
    }

    .nav_menu {
        margin: 8px 32px 20px 52px;
        display: flex;
    }

    .nav_menu_img {
        color: #F87171;
        padding: 3px;
    }

    .nav_button_current{
        display: flex;
        background-color: #FCA5A5;
        color: black;
        padding: 10px;
        border-radius: 16px;
    }

    .nav_button {
        display: flex;
        color: black;
        padding: 10px;
    }

    .nav_text {
        padding: 10px;
        width: 110px;
    }

    #contents_of_page{
        padding: 30px;
    }

    h2{
        width: 930px;
    }

    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
        border-color: #FFFDFD;
        padding: 8px;
    }

    #employees_table {
        width: 100%;
    }
    
    #employees_table .header-cell {
        background-color: #EF4444 !important;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    
    #employees_table td {
        background-color: #FEE2E2;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    

}

@media screen and (max-width: 1165px) {
    body {
        font-family: "Red Hat Display", sans-serif;
        background-color: #FFFDFD;
        overflow: hidden;
    }

    a {
        text-decoration: none;
    }

    #logo-jaramba {
        height: 80px;
        margin: auto auto auto 16px;
    }

    #settings-logo {
        height: 40px;
        margin: 24px 20px auto auto;
        float: right;
    }

    #logout-logo {
        height: 40px;
        margin: 24px 24px auto auto;
        float: right;
    }

    #real-body {
        margin-top: -10px;
        display: flex;
        gap: 12px;
        justify-content: space-evenly;
    }

    #left-body {
        width: 250px;
    }

    #contents_of_page {
        margin-top: 10px;
        width: 900px;
    }

    #profile {
        width: 25%;
    }

    #profile-picture {
        height: 148px;
        margin: 24px auto -8px 64px;
    }

    .profile-info {
        margin: auto auto 32px 86px;
    }


    #nav {
        color: black;
        width: 25%;
    }

    .nav_menu {
        margin: 8px 32px 20px 52px;
        display: flex;
    }

    .nav_menu_img {
        color: #F87171;
        padding: 3px;
    }

    .nav_button_current{
        display: flex;
        background-color: #FCA5A5;
        color: black;
        padding: 10px;
        border-radius: 16px;
    }

    .nav_button {
        display: flex;
        color: black;
        padding: 10px;
    }

    .nav_text {
        padding: 10px;
        width: 110px;
    }

    #contents_of_page{
        padding: 30px;
    }

    h2{
        width: 930px;
    }

    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
        border-color: #FFFDFD;
        padding: 8px;
    }

    #employees_table {
        width: 100%;
    }

    #head_table_employees{
        background-color: #EF4444;
        color: white;
        font-size: 18px;
    }

    .body_table_employees{
        background-color: #FEE2E2;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 16px;
    }
}